<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic List Example</title>
    <link rel="stylesheet" href="{{ url_for('app2.static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Project List</h1>
        
        <!-- Add User Button -->
        <div class="add-user-container">
            <button onclick="onclick=window.location.href='/app1/logout';" id="add-user-btn" class="add-user-btn">Log out</button>
        </div>
        <br>
        <div class="add-user-container">
            <button onclick="onclick=window.location.href='/app3/add-pro';" id="add-user-btn" class="add-user-btn">Add Project</button>
        </div>
        
        <ul id="request-list">
            <!-- Static List Item Example -->
            <li class="list-item">
                <div class="info">
                    <p><strong>id:</strong>project</p>
                    <p><strong>Site Name:</strong></p>
                </div>
                <button class="review-btn">Open</button>
            </li>
            {% for request in requests %}
            <li class="list-item">
                <div class="info">
                    <p><strong>Site Name:</strong> {{ request.site_name }}</p>
                    <p><strong>Name:</strong> {{ request.name }}</p>
                    <p><strong>Date of Request:</strong> {{ request.date }}</p>
                </div>
                <button class="review-btn">Review</button>
            </li>
            {% endfor %}s
            <!-- Dynamic items will be inserted here -->
        </ul>
    </div>
</body>
</html>


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic List Example</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Request List</h1>
        <ul id="request-list">
            {% for request in requests %}
            <li class="list-item">
                <div class="info">
                    <p><strong>Site Name:</strong> {{ request.site_name }}</p>
                    <p><strong>Name:</strong> {{ request.name }}</p>
                    <p><strong>Date of Request:</strong> {{ request.date }}</p>
                </div>
                <button class="review-btn">Review</button>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

-->